<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

    <script src="https://kit.fontawesome.com/761bf55008.js" crossorigin="anonymous"></script>

    <title>首页</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
    <div id="nav">
        <ul>
            <li><a herf="{{url_for('shortcut_menu')}}" class="fa-solid fa-house"><b>快捷菜单</b></a></li><span>|</span>
            <li><a href="{{url_for('systemsetting')}}" class="fa-solid fa-globe"><b>系统设置</b></a></li><span>|</span>
            <li><a href="{{ url_for('learn') }}" class="fa-solid fa-book"><b>学习</b></a></li><span>|</span>
            <li><a href="{{ url_for('softwaresetting') }}" class="fa-solid fa-xmark"><b>软件设置</b></a></li><span>|</span>
            <li><a class="fa-solid fa-user"><b>鸣谢清单</b></a></li><span></span>
        </ul>
    </div>

    <div id="nav2">
        <br><br>
        <a><em>🙌项目发起人</em></a><br>
        <a>NightCloud Team×Green-Plains Team</a><br><br>
        <a><em>🚀UI设计及程序打包</em></a><br>
        <a>薛儒浩(NightCloud Team)</a><br><br>
        <a><em>🧷功能实现</em></a><br>
        <a>尚冠樵(Green-Plains Team)</a><br><br>
        <a><em>💕代码编辑器</em></a><br>
        <a>JetBrains全家桶、Visual Studio Code、Visual Studio2022</a><br><br>
        <a><em>✌️界面框架</em></a><br>
        <a>NanUI</a>
    </div>

</body>
<script>
    $(window).on("load", function () {
        $(".loader").fadeOut("slow");
    })
</script>

</html>